@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

.active{
    font-weight: bolder;
    font-size: large;
}

*{
    font-family: "Arimo", sans-serif;
}
.customFont {
  font-family: 'Open Sans', sans-serif;
}
